.triangle-up {
  transition: all;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 12px solid theme('colors.mainText.700');
}
.triangle-close{
  transition: all;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 0 solid transparent;
  border-bottom: 0 solid theme('colors.mainText.700');
}
