<div class="min-h-screen bg-gray-100 py-8">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold text-gray-900 mb-8">CS2 Tournaments</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
      {{user() | json}}

      <h1>CERF</h1>


      {{lobby() | json}}
      <h1>___</h1>
      @for (lobb of lobbys$ | async ; track lobb.id){
        <a [routerLink]="['/lobby', lobb.id]">{{ lobb.id }}</a>

      }


      <h2>Создать лобби</h2>
      <label for="mode">Режим:</label>
      {{name}}
      <select [value]="name" id="mode">
        <option value="1x1">1x1</option>
        <option value="2x2">2x2</option>
        <option value="5x5">5x5</option>
      </select>
      <button (click)="createLobby()">Создать</button>
    </div>
  </div>
</div>
