<p>error-page works!</p>

<input  [(ngModel)]="name">
{{name}}

<!--<app-button (click)="connectToServer( 'yezzan.dathost.net','25169')" >Присоединиться к матчу</app-button>-->
<a [href]="'steam://connect/45.136.205.160:27032'" >Присоединиться к матчу</a>
<a [href]="'steam://rungameid/730'" >Присоединиться к матчу</a>
<a [href]="'steam://rungameid/730//+connect  65.109.147.39:25169'" >Присоединиться к матчу</a>

<button (click)="copyToClipboard('connect 65.109.147.39:25169')">
  📋 Скопировать текст
</button>
<div class="relative">
@if(showToast){
  <div
    class="fixed top-5 right-5 bg-green-500 text-white px-4 py-2 rounded shadow-lg animate-fade-in-out"
  >
    ✅ Скопировано в буфер обмена!
  </div>
}
</div>

