<div class="w-full">
  <div class="mb-10">
    <app-button [title]="showRes ? 'Статистика':'Результат'" (click)="changeStats()"></app-button>
  </div>
  @switch (showRes){
    @case (false){
      <div class="w-full flex items-center flex-wrap gap-10 justify-start">
        @for (map of tournamentStats();track $index){
          @if(map.map != 'T' && map.map != 'CT'){
        <app-info-card [cardClass]="'w-[600px]'">
          <ng-template #iconTemplate ><div class="min-w-[70px] w-[220px] h-[130px] flex flex-col justify-center items-start"><img [src]="'maps/'+map.map+'.jfif'| imgURL" alt=""/></div></ng-template>
          <div class="w-full flex-col items-start">
            <div class="flex text-md font-md">Карта:<pre> </pre><p class="flex justify-center items-center text-sm font-sm">{{map.map}}</p> </div>
            <div class="flex text-md font-md">Всего забанено: <pre> </pre><p class="flex justify-center items-center text-sm font-sm">{{map.bannedCount}}</p><p></p> </div>
            <div class="flex text-md font-md">Матчей сыграно: <pre> </pre><p class="flex justify-center items-center text-sm font-sm">{{map.matchesPlayed}}</p> </div>
            <div class="flex text-md font-md">Процент выбора: <pre> </pre><p class="flex justify-center items-center text-sm font-sm">{{map.pickRate *100 |number :'0.0-0'}} %</p></div>
            <div class="flex text-md font-md">Процент бана:<pre> </pre><p class="flex justify-center items-center text-sm font-sm">{{map.banRate *100 |number :'0.0-0'}}%</p> </div>
          </div>

<!--          <p>{{ data()?.mode }} </p>-->
        </app-info-card>
          }
        }
      </div>
    }
    @default {
      <app-table [dataSource]="tournamentResult">
        <div appCustomColumn class="w-1/12 ">
          <ng-template customHeaderCellDef><p class="flex justify-center border-b border-b-mainText-500">#</p></ng-template>
          <ng-template customCellDef let-element>
            <div class="h-[92px] flex justify-center items-center border-b border-b-mainText-500">
              @switch (element.place){
                @case (1){
                  <img [src]="'firstPlace.svg'|imgURL">
                }
                @case (2){
                  <img [src]="'secondPlace.svg'|imgURL">
                }
                @case (3){
                  <img [src]="'thirdPlace.svg'|imgURL">
                }
                @default {
                  {{ element.place }}
                }
              }
            </div>
          </ng-template>
        </div>
        <div appCustomColumn class="w-5/6">
          <ng-template customHeaderCellDef><div class="border-b border-b-mainText-500">Команда</div></ng-template>
          <ng-template customCellDef let-element>
            <div class=" h-[92px] flex items-center gap-5 border-b border-b-mainText-500">
              <img class="w-[60px] h-[60px]" [src]="'UnknownUserImg.svg'|imgURL">
              <div class=" flex items-center">{{element.teamDto.teamName}}</div>
            </div>
          </ng-template>
        </div>
        <div appCustomColumn class="w-1/12">
          <ng-template customHeaderCellDef><div class="border-b border-b-mainText-500">Приз</div></ng-template>
          <ng-template customCellDef let-element>
            <div class="h-[92px] flex items-center border-b border-b-mainText-500  " [appPrize]="element.points">@if(element.points>0){+}{{element.points}}</div>
          </ng-template>
        </div>



      </app-table>
    }
  }

</div>
