.glass{
  /* From https://css.glass */
  background: rgba(11, 107, 173, 0.73);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-top: 1px solid rgba(41, 166, 255, 0.3);
}
