<div class="stepper-header flex justify-around">
  @for(step of  steps; track $index){

    <div class="flex flex-col items-center">
      <div
        class="w-8 h-8 rounded-full flex items-center justify-center border border-gray-300"
        [ngClass]="{
          'bg-blue-500 text-white': $index === currentStep,
          'bg-green-500 text-white': $index < currentStep,
          'bg-gray-100': $index > currentStep
        }"
      >
        {{ $index + 1 }}
      </div>
      <div class="mt-2 text-sm text-center">
        <!-- Если для шага определён шаблон labelStep, выводим его -->
        <ng-container *ngIf="step.labelStep;">
          <ng-container *ngTemplateOutlet="step.labelStep"></ng-container>
        </ng-container>

      </div>
    </div>


    <!-- Линия между шагами (если шаг не последний) -->
    <div *ngIf="$index < steps.length - 1" class="relative w-full overflow-hidden">


      <div
        class="flex-1 h-1 mx-2 absolute bg-green-600-300 transition-colors z-20 left-0  "
        [ngClass]="{'end-state':currentStep>$index,'start-state':currentStep<=$index}"
      ></div>
      <div
        class="flex-1 h-1 w-full absolute mx-2 bg-gray-300 transition-colors duration-300 z-10 "
        ></div>

    </div>
  }

</div>

{{currentStep}}
<div class="stepper-content">
  <ng-content/>
</div>

<div>
  <button (click)="next()">next</button>
  <div>     </div>
  <button (click)="previous()">back</button>
</div>

<!--      <div class="stepper-actions">-->
<!--        <button *ngIf="currentStep > 0" (click)="previous()">Back</button>-->
<!--        <button *ngIf="currentStep < steps.length - 1"-->
<!--                (click)="next()"-->
<!--                [disabled]="!isStepValid()">Next</button>-->
<!--        <button *ngIf="currentStep === steps.length - 1" (click)="complete()">Complete</button>-->
<!--      </div>-->
