body::-webkit-scrollbar {
  width: 5px;
  height: 10px/* ширина scrollbar */
}
body::-webkit-scrollbar-track {
  background: theme('colors.mainBackground.DEFAULT');        /* цвет дорожки */
}
body::-webkit-scrollbar-thumb {
  background-color: theme('colors.mainText.700');    /* цвет плашки */
  border-radius: 20px;       /* закругления плашки */
  /*border: 3px solid orange;  !* padding вокруг плашки *!*/
}
