<div class="flex gap-5 flex-col">
<!--{{me |json}}-->
<h2>Лобби</h2>
  @if (!lobby?.pickBanSession?.completed){
    <h2>{{timer|json}}</h2>
  }

<div > -----------</div>
<div  class=" flex ">
<input [(ngModel)]="format" placeholder="Введите команду">
<button (click)="join()">Присоединиться</button>
</div>

  <div>
    ----------------
<h3>Игроки 1 :</h3>
<!--{{team1 | json}}-->
@for (players of Object.values(team1);track players){
  <ul>
    {{players |json }}
    {{team1[players] | json}}
  </ul>
  {{players.ready}}



  @if(user?.steamId===players.steamId){
    <button (click)="changeStatus(players.ready)">Сменить статус</button>
  }

}
  </div>

<div>
  ------------------
<h3>Игроки 2 :</h3>
@for (players of Object.values(team2);track players){
  <ul>
    {{players |json }}
    {{team1[players] | json}}
  </ul>
    {{players.ready}}
  @if(user?.steamId===players.steamId){
    <button (click)="changeStatus(players.ready)">Сменить статус</button>
  }
}

<div>
@if (lobby?.pickBanSession?.maps != null){
  <div>
  {{lobby?.pickBanSession?.currentTeamTurn}}

  {{lobby?.pickBanSession?.nextActionType}}

  </div>
  ---------------
  <div class="flex flex-col gap-2">
  @for (map of lobby?.pickBanSession?.maps; track map ){
    <div class="bg-amber-500 w-full "
         [class.pointer-events-none]="lobby?.pickBanSession?.nextActionType === 'PICK_SIDE'"
         [class.opacity-50]="lobby?.pickBanSession?.nextActionType === 'PICK_SIDE'"
         (click)="actionByMap(map)">{{map}}</div>

  }
    @if (lobby?.pickBanSession?.nextActionType == "PICK_SIDE"){
      <div class="bg-amber-500 w-full " (click)="actionByMap('T')">T</div>
      <div class="bg-amber-500 w-full " (click)="actionByMap('CT')">CT</div>
    }
  </div>



}
  @if (lobby?.link!=null){
    <a [href]="lobby?.link" >Присоединиться к матчу</a>
  }

</div>
</div>




<!--&lt;!&ndash;<app-button (click)="connectToServer( 'yezzan.dathost.net','25169')" >Присоединиться к матчу</app-button>&ndash;&gt;-->
<!--<a [href]="'steam://connect/45.136.205.160:27032'" >Присоединиться к матчу</a>-->
<!--<a [href]="'steam://rungameid/730'" >Присоединиться к матчу</a>-->
<!--<a [href]="'steam://rungameid/730/+connect 45.136.205.160:27032'" >Присоединиться к матчу</a>-->

</div>
